body
  background-image: url('img/background.jpg')
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: 100% 100%

.round-title
  text-transform: lowercase
  color: blue

.header
  text-align: center
  min-width: 500px

.header-logo
  padding-bottom: 10px

.header-logo-title
  display: inline-block
  font-size: 100px
  text-align: center

.header-logo-title-left
  padding-right: 40px

.header-logo-title-right
  padding-left: 40px

.content
  margin: auto
  padding-top: 10px
  padding-bottom: 10px
  width: 80%
  text-align: center
  align: center
  background: #F0F0FF

